@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff8200;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  &::-webkit-scrollbar {
    width: 10px; /* Ширина всего элемента навигации */
  }

  &::-webkit-scrollbar-track {
    background: #fff; /* Цвет дорожки */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fde2c6; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    /*border: 3px solid #050c26; !* Оформление границ бегунка *!*/
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
