

.header{
  margin-block: 16px;
  background: linear-gradient(45deg, rgb(255, 130, 0), rgb(255, 130, 0));
  border-radius: 8px;

  .logo_text{
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
}